absl-py==1.4.0
accelerate==0.18.0
addict==2.4.0
aenum==3.1.12
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
asyncer==0.0.2
attrs==23.1.0
av==10.0.0
backcall==0.2.0
basicsr==1.4.2
beartype==0.12.0
beautifulsoup4==4.12.2
blendmodes==2022
blinker==1.6.2
blis==0.7.9
boltons==23.0.0
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
clean-fid==0.1.29
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
coloredlogs==15.0.1
confection==0.0.4
contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
cymem==2.0.7
decorator==4.4.2
deprecation==2.1.0
docopt==0.6.2
dynamicprompts==0.23.0
einops==0.4.1
entrypoints==0.4
executing==1.2.0
facexlib==0.3.0
fastapi==0.94.0
ffmpeg==1.4
ffmpy==0.3.0
filelock==3.12.0
filetype==1.2.0
filterpy==1.4.5
Flask==2.3.2
flatbuffers==23.3.3
flet==0.3.2
font-roboto==0.0.1
fonts==0.0.3
fonttools==4.39.3
freetype-py==2.3.0
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gdown==4.7.1
gfpgan==1.3.8
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.17.3
google-auth-oauthlib==1.0.0
gradio==3.28.1
gradio_client==0.2.0
grpcio==1.54.0
h11==0.12.0
hsluv==5.0.3
httpcore==0.15.0
httpx==0.24.0
huggingface-hub==0.14.1
humanfriendly==10.0
idna==3.4
ImageHash==4.3.1
imageio==2.28.0
imageio-ffmpeg==0.4.8
inflection==0.5.1
iopath==0.1.9
ipython==8.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonmerge==1.8.0
jsonschema==4.17.3
kiwisolver==1.4.4
kornia==0.6.7
langcodes==3.3.0
lark==1.1.2
lazy_loader==0.2
lightning-utilities==0.8.0
linkify-it-py==2.0.0
llvmlite==0.39.1
lmdb==1.4.1
lpips==0.1.4
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.9.3.0
moviepy==1.0.2
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
networkx==3.1
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.2.3
onnxruntime==1.14.1
open-clip-torch @ git+https://github.com/mlfoundations/open_clip.git@bb6e834e9c70d9c27d0dc3ecedeebeaeb1ffad6b
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
orjson==3.8.10
packaging==23.0
pandas==2.0.1
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.4.0
PIMS==0.6.0
pipreqs==0.4.13
platformdirs==3.4.0
pooch==1.7.0
portalocker==2.7.0
preshed==3.0.8
proglog==0.1.10
prompt-toolkit==3.0.38
protobuf==3.20.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py3d==0.0.82
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycloudflared==0.2.0
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
Pygments==2.15.1
PyMatting==1.1.8
pyparsing==3.0.9
pyperclip==1.8.2
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytorch-lightning==1.9.4
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
realesrgan==0.3.0
regex==2023.3.23
rembg==2.0.34
repath==0.9.0
reportlab==3.6.13
requests==2.28.2
requests-oauthlib==1.3.1
resize-right==0.0.2
rich==13.3.5
rsa==4.9
safetensors==0.3.1
scikit-image==0.19.2
scipy==1.10.1
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.98
six==1.16.0
slicerator==1.1.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sounddevice==0.4.6
soupsieve==2.4.1
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data==0.6.2
starlette==0.26.1
svglib==1.5.1
sympy==1.11.1
tabulate==0.9.0
tb-nightly==2.13.0a20230426
tensorboard-data-server==0.7.0
termcolor==2.3.0
thinc==8.1.10
tifffile==2023.4.12
timm==0.6.7
tinycss2==1.2.1
tntn==23.4.0
tokenizers==0.13.3
tomli==2.0.1
toolz==0.12.0
torch==1.12.1
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchsde==0.2.5
torchvision==0.13.1
tqdm==4.65.0
traitlets==5.9.0
trampoline==0.1.2
transformers==4.25.1
transforms3d==0.2.1
trimesh==3.21.5
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.1
urllib3==1.26.14
uvicorn==0.21.1
vispy==0.12.2
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.4.2
websockets==11.0.2
Werkzeug==2.3.3
yacs==0.1.8
yapf==0.33.0
yarg==0.1.9
yarl==1.9.2
