# filepath: /Volumes/DATA/Design_Craft/Web/midjourney-describe/requirements.txt
Flask==2.3.2
Pillow==9.4.0
pyperclip==1.8.2
reportlab==3.6.13
svglib==1.5.1
click==8.1.3
cssselect2==0.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
tinycss2==1.2.1
Werkzeug==2.3.3
